
@{
    ViewData["Title"] = "Index";
}
@model List<Product>

<h1>Products</h1>
@if (TempData["status"] != null)
{
    <div class="alert alert-light" role="alert">
        @TempData["status"]
    </div>
}

<a asp-controller="products" asp-action="add">Add Product</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Color</th>
            <th>IsPublish</th>
            <th>Expire(Month)</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Color</td>
                <td>
                    @(@item.IsPublish ? "Yes":"No")
                    @*@if(@item.IsPublish){
                        <text>Yes</text>
                    }
                    else{
                        <text>No</text>
                    }*@
                    </td>
                <td>@item.Expire</td>
                <td>
                    <a asp-controller="products" asp-action="remove" asp-route-id="@item.Id">Remove</a>
                    <a asp-controller="products" asp-action="update" asp-route-id="@item.Id">Update</a>
                    </td>
            </tr>
        }
    </tbody>
</table>
