@{
    ViewData["Title"] = "Update";
}

@model ProductUpdateViewModel

<h1>Update Product</h1>
<form asp-controller="Products" asp-action="Update" asp-route-productId="@Model.Id" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ImagePath" />

    <div>
        <img style="width:100px; height:100px;" src="@(String.IsNullOrEmpty(Model.ImagePath) ? "/images/noimages.jpeg" : "/images/"+Model.ImagePath )" />


    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Product Name</label>
        <span class="text-danger" asp-validation-for="Name"></span>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Product Price</label>
        <span class="text-danger" asp-validation-for="Price"></span>
        <input class="form-control" asp-for="Price">
    </div>
    <div class="mb-3">
        <label asp-for="Stock" class="form-label">Product Stock</label>
        <span class="text-danger" asp-validation-for="Stock"></span>
        <input type="text" class="form-control" asp-for="Stock">
    </div>
    <div class="mb-3">
        @*<label asp-for="Color" class="form-label">Product Color</label>
        <input class="form-control" asp-for="Color">*@
        <span class="text-danger" asp-validation-for="Color"></span>
        <select class="form-select" asp-for="Color" asp-items="ViewBag.ColorSelect">
            <option value="">Choose Color</option>

        </select>
    </div>
    <div class="form-check">
        <input class="form-check-input" asp-for="IsPublish">

        <label class="form-check-label" asp-for="IsPublish">
            Yayınlansın mı?
        </label>
    </div>

    <div class="mb-3 mt-3">
        <span>Ürünün satışta kalma süresi</span>
        <span class="text-danger" asp-validation-for="Expire"></span>
        @foreach (var item in ViewBag.Expire as Dictionary<string, int>)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" id="@(item.Value)Expire" asp-for="Expire" value="@item.Value">

                <label class="form-check-label" asp-for="Expire" for="@(item.Value)Expire">
                    @item.Key
                </label>
            </div>
        }
    </div>

    <div class="form-floating mb-3">
        <textarea asp-for="Description" class="form-control" placeholder="Product Description"></textarea>
        <label asp-for="Description">Description</label>
    </div>

    <div class="mb-3">
        <label asp-for="PublishDate" class="form-label">Product Publish Date:</label>
        <span class="text-danger" asp-validation-for="PublishDate"></span>
        <input class="form-control" asp-for="PublishDate">
    </div>
    <div class="mb-3">
        <label for="formFileLg" class="form-label">Ürün Resim</label>
        <input class="form-control form-control-lg" asp-for="Image" type="file">

    </div>
    <button class="btn btn-primary" type="submit">Update</button>
</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}